body{
    width: 100vw;
    height: 200vh;
}

@keyframes colorChange {
    from {
        background-color: blue;
    }
    to {
        background-color: red;
    }
}

.animation{
    animation: colorChange 5s ease-in-out;
    background-color: blue;
    width: 100px;
    height: 100px;
}
