header{
    display: flex;
    position: fixed;
    width: 100%;
}
body{
    margin: 0;
}
section{
    width: 98.4vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 0;
}
section:nth-child(n) :not(#animation){
    z-index: 2;
}
.navbar{
    display: flex;
    width: 90%;
    align-items: center;
}
.animationbg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.carre1{
    position: absolute;
    width: 20vh;
    height: 20vh;
    border: solid #0E43C8 2px;
    transform: rotate(45deg);
}   
.carre2{
    position: absolute;
    width: 10vh;
    height: 10vh;
    border: solid #FCFFFB 2px;
    transform: rotate(30deg);
}
.divpresGlobal{
    width: 100%;
    height: 100%;
}
.presentation{
    text-align: center;
}
.divbutton{
    margin-top: 50px;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
.cv {
    background-color: #FCFFFB;
    text-align: center;
    border: none;
    width: 325px;
    height: 50px;
    color: #0E43C8;
}

.cv2{
    position: relative;
    top: 30px;
    background-color: #D9D9D9;
    text-align: center;
    border: none;
    width: 325px;
    height: 50px;
}
/* .lazergame{
    background-image: ; 
} */
.lesprojet button{
    position: relative;
    top: 6vh;
    background-color: #D9D9D9;
    text-align: center;
    border: none;
    width: 20vw;
    height: 50px;
}
h2{
    font-family: Michroma;
    font-weight: 400;
    letter-spacing: 2.4px;
}
h1{
    font-family: Michroma;
    color: #FCFFFB;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
p{
    font-family: Metrophobic;
    color: #FCFFFB;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.moi{
    border-radius: 50%;
}
.moirouge{
    border-radius: 50%;
}
.menu{
    margin-left: auto;
}
.pagecompetences{
    background-color: #FCFFFB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.competences{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    flex-wrap: wrap;
}
.competences div{
    color: #FCFFFB;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B80C09;
}
.pageprojet{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0E43C8;
}
.projet{
    display: flex;
    gap: 3vw;
    align-items: center;
}
.lesprojet{
    display: flex;
    gap: 3vw;
    justify-content: center;
    flex-wrap: wrap;
    width: 83vw;
}
.lesprojet div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 35vh;
    background-color: #FCFFFB;
}
.suivant{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    width: 100px;
    height: 73vh;
    background-color: #FCFFFB;
}
.pagecontact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact a{
    text-decoration: none;
    color: black;
    display: flex;
    text-align: center;
    gap: 10px;
}
.elementcontact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width:1025px){
    .navbar{
        margin-top: 5vh;
        margin-left: 15vh;
        margin-right: 10vh;
    }
    h2{
        font-size: 15px;
    }
    h1{
        font-size: 36px;
    }
    p{
        font-size: 16px;
    }
    .selecteur{
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 5px;
        right: 12.5vh;
        top: 80%;
    }    
    .selecteur a{
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: #0E43C8 solid 1px;
    }
    .selecteur a:hover{
        background-color: #0E43C8;
    }
    .pagepresentation{
        background: linear-gradient(90deg, #0E43C8 67%, #FCFFFB 33%);
    }
    .divpresGlobal{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    .moi{
        top: 35%;
        right: 23%; 
        width: 425px;
        height: 425px;
        border-radius: 50%;
    }
    .moirouge{
        width: 350px;
        height: 350px;
        border-radius: 50%;
    } 
    .animationbg{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .carre1{
        right: 20vw;
        top: 70vh;
    }   
    .carre2{
        left: 10vw;
        top: 20vh;
    }
    .competences{
        gap: 40px;
        width: 1264px;
    }
    .competences div{
        width: 246px;
        height: 246px;
    }
    .suivant{
        display: flex;
    }
}
@media screen and (min-width:431px) and (max-width:1024px) {
    h2{
        font-size: 15px;
    }
    h1{
        font-size: 36px;
    }
    p{
        font-size: 16px;
    }
    .navbar{
        margin-top: 2.5vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .pagepresentation{
        background: linear-gradient(180deg, #0E43C8 60%, #FCFFFB 40%);
    }
    .logo svg{
        width: 260px;
        height: 24px;
    }
    .menu svg{
        width: 60px;
        height: 36px;
    }
    .divpres1{
        display: flex; 
        width: 100%;
        height: 60%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divpres2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40%;
    }
    .moi{
        width: 300px;
        height: 300px;      
    }
    .moirouge{
        width: 300px;
        height: 300px;
    }
    .selecteur{
        display: none;
    }
    .carre1{
        right: 20vw;
        top: 70vh;
    }   
    .carre2{
        left: 10vw;
        top: 20vh;
    }
    .lesprojet{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lesprojet div:nth-child(n+3){
        display: none;
    }
    .competences{
        gap: 5vw;
        flex-direction: column;
        height: 100vw;
    }
    .competences div{
        flex-wrap: wrap;
        align-content: center;
        margin: 0;
        width: 20vw;
        height: 20vw;
    }  
    .competences div h2{
        margin: 0;
    }
}

@media screen and (max-width:430px){
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 15px;
    }
    p{
        font-size: 13px;
    }
    .navbar{
        margin-top: 2.5vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .logo svg{
        width: 119px;
        height: 11px;
    }
    .menu svg{
        width: 39px;
        height: 23px;
    }
    .carre1{
        right: 15vw;
        top: 60vh;
    }   
    .carre2{
        left: 10vw;
        top: 20vh;
    }
    .pagepresentation{
        background: linear-gradient(180deg, #0E43C8 55%, #FCFFFB 45%);
    }
    .lesprojet{
        flex-direction: column;
        align-items: center;
    }
    .lesprojet div:nth-child(n+2){
        display: none;
    } 
    .selecteur{
        display: none;
    }
    .divpres1{
        display: flex; 
        width: 100%;
        height: 60%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divpres2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40%;
    }
    .moi{
        width: 300px;
        height: 300px;      
    }
    .moirouge{
        width: 300px;
        height: 300px;
    }
    .competences{
        padding-top: 100px;
        gap: 3vh;
    }
    .competences div{
        flex-wrap: wrap;
        align-content: center;
        margin: 0;
        width: 15vh;
        height: 15vh;
    }
    .competences div h2{
        margin: 0;
    }
    .lesprojet div{
        width: 30vh;
        height: 30vh;
    }
    .lesprojet button{
        width: 200px;
    }
}