header{
    display: flex;
    position: fixed;
    width: 100%;
}

body{
    margin: 0;
}

section{
    width: 100%;
    height: 912px;
}

.selecteur{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 5px;
    right: 12.5vh;
    top: 80%;
}

.selecteur a{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid 1px;
}

a:hover{
    background-color: #0E43C8;
}

.pagepresentation{
    /* display: flex;
    justify-content: center; */
    align-items: center;
    background: linear-gradient(90deg, #0E43C8 67%, #FCFFFB 33%);
}

.presentation {
    position: absolute;
    top: 45%;
    left: 15%;
    text-align: center;
}

.moi{
    position: absolute;
    top: 45%;
    right: 23%;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
.animationbg{
    position: absolute;
    width: 100%;
    height: 100%;
}
.carre1{
    position: absolute;
    width: 200px;
    height: 200px;
    border: solid #0E43C8 2px;
    transform: rotate(45deg);
    right: 20vh;
    top: 30vh;
}

.carre2{
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid #FCFFFB 2px;
    transform: rotate(30deg);
    left: 30vh;
    top: 30vh;
}

.divbutton{
    margin-top: 50px;
}

.button{
    background-color: #FCFFFB;
    text-align: center;
    border: none;
    width: 325px;
    height: 50px;
    color: #0E43C8;
}

.button2{
    position: relative;
    top: 30px;
    background-color: #D9D9D9;
    text-align: center;
    border: none;
    width: 325px;
    height: 50px;
}

.lesprojet button{
    position: relative;
    top: 75px;
    background-color: #D9D9D9;
    text-align: center;
    border: none;
    width: 300px;
    height: 50px;
}

h1{
    font-family: Michroma;
    font-size: 36px;
    color: #FCFFFB;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p{
    color: #FCFFFB;
    text-align: center;
    font-family: Metrophobic;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar{
    margin-top: 5vh;
    margin-left: 15vh;
    margin-right: 10vh;
    display: flex;
    width: 100%;
}
.menu{
    margin-left: auto;
}
.pagecompetences{
    background-color: #FCFFFB;
    /* display: flex;
    align-items: center; */
}
.competences{
    padding-top: 284px;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}
.competences div{
    color: #FCFFFB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 246px;
    background: #B80C09;
}
h2{
    font-family: Michroma;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2.4px;
}
.pageprojet{
    background-color: #0E43C8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projet{
    display: flex;
    gap: 32px;
    align-items: center;
}
.lesprojet{
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
    width: 1042px;
}
.lesprojet div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 505px;
    height: 311px;
    background-color: #FCFFFB;
}
.suivant{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    width: 100px;
    height: 662px;
    background-color: #FCFFFB;
}
.pagecontact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact a{
    text-decoration: none;
    color: black;
    display: flex;
    text-align: center;
    gap: 10px;
}
.elementcontact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:1024px) {
    section{
        height: 1366px;
    }
    .pagepresentation{
        background: linear-gradient(180deg, #0E43C8 67%, #FCFFFB 33%);
    }
    .divpres{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    
}